<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

	<head>
		<title> Ajouter un groupe d'utilisateurs </title>
		{% include 'BaquarasTestBundle:Default:css.html.twig' %}
		{% include 'BaquarasTestBundle:Default:onglets.html.twig' %}
	</head>
	
	<body>
		
		{% include 'BaquarasTestBundle:Default:jquery2.html.twig' %} 

		<div id="rechercheGroupeAD">			

			<form action="{{ path('ajouterGroupeAD', {'applicationId' : application.id}) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate" class="ajouterGroupeAD">
		
				{{ form_start(form) }}
		
			    {{ form_errors(form) }}
		   
					<table id="zoneForm">
						<tr>
							<td id="selectG"> 
								{{ form_widget(form.leftValues) }}
							</td>
							<td>
								<button id="btnLeft" type="button" name=">>"> >> </button> <br/>
								<button id="btnRight" type="button" name="<<"> << </button> 
							</td>
							<td id="selectD">
								{{ form_widget(form.rightValues) }}
							</td>								
						</tr>	
						<tr>
							<td colspan="3">
								{{ form_widget(form.save) }}
							</td>
						</tr>
					</table>
					
				{{ form_rest(form) }}
				
				{{ form_end(form) }}
				
			</form>
					

					
		{% block jquery23 %}
			<script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.min.js') }}"></script>
			<script>
				$("#btnLeft").click(function () {
					var selectedItem = $("#form_leftValues option:selected");
					$("#form_rightValues").append(selectedItem);
				});

				$("#btnRight").click(function () {
					var selectedItem = $("#form_rightValues option:selected");
					$("#form_leftValues").append(selectedItem);
				});
			</script>
		{% endblock %}
		
			
		</div>

    </body>
 
</html>