<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
			
	<head>
		<title> Gestion des droits </title>
		{% include 'BaquarasTestBundle:Default:css.html.twig' %} 
	</head>
	
	<body>
		
		{% include 'BaquarasTestBundle:Default:menu.html.twig' %} 
		{% include 'BaquarasTestBundle:Default:jquery2.html.twig' %} 

		<div id="page">
		
			<h1> Ordonner les profils et la liste des pages </h1>
 
			{### Zone d'affichage des messages/annotations ###}
			<div id="flashbag"> 
				{% for flashMessage in app.session.flashbag.get('notice') %}
					<div id="img"> </div>
					<div id="texte"> {{ flashMessage }} </div> <br/>
				{% endfor %}
			</div>
	
			<form action="{{ path('droitsAccess', {type:type}) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate" id="gestiondroits">
		
			{{ form_start(form) }}
			
			{{ form_errors(form) }}
		 
			<div>
				<table>
					<tr>
						<td id="label"> {{ form_label(form.profil) }} </td>
						<td id="text"> {{ form_widget(form.profil) }} </td> </tr> <tr> <td> </td>
						<td id="errors"> {{ form_errors(form.profil) }} </td>
					</tr>
					<tr>
						<td id="label"> {{ form_label(form.page) }} </td>
						<td id="text"> {{ form_widget(form.page) }} </td> </tr> <tr> <td> </td>
						<td id="errors"> {{ form_errors(form.page) }} </td>
					</tr>
					<tr>
						<td id="label"> {{ form_label(form.acces) }} </td>
						<td> {{ form_widget(form.acces) }} </td> </tr> <tr> <td> </td>
						<td id="errors"> {{ form_errors(form.acces) }} </td>
					</tr>
				</table>
					
				{{ form_widget(form.save) }}
					
		    </div>
			
			{{ form_end(form) }}
		
			</form>	
				
			<div class="table_droits">
				
				<table>
					<tr>
						<th> </th>
						{% for  profil in profils %}
							<th> {{ profil.libelle }} </th>
						{% endfor %}
					</tr>
					
					{% for page in pages %}
					<tr>
						<td>  {{ page.libelle }} </td>
						
						{% for profil in profils %}
							<td> 
								{% for droit in droits %}
									{% if droit.profil.libelle == profil.libelle %} 
										{% if droit.page.libelle == page.libelle %}
											{% if droit.acces is not null %}
												{% if droit.acces == true %}
													<div id="ok"> </div>
												{% else %}
													<div id="not-ok"> </div>
												{% endif %}
											{% endif %}
										{% endif %}
									{% endif %}
								{% endfor %}
							</td>
						{% endfor %}
					</tr>
					{% endfor %}
				</table>
			
			</div>
				


    </body>
</html>