
	<div id="header">
		<div id="header-right">
		
		<div id="menu">
			
			<div id="connexion"> {# Lien connexion/déconnexion utilisateur #}
				{{ knp_menu_render('BaquarasTestBundle:Builder:connexionMenu') }}
			</div>
			
			<div id="accueil" title="Retour accueil"> {# Logo Baquaras : Lien vers page accueil #}
				{{ knp_menu_render('BaquarasTestBundle:Builder:accueilMenu') }}
				
				<div id="breadcrumbwrap"> {# Fil d'Ariane #}
					{% block breadcrumb %}
					{% spaceless %}
 
{% set currentItem = cnerta_breadcrumb_get('BaquarasTestBundle:Builder:mainMenu') %}
 
{% for item in currentItem %}
    {% if loop.index != 1 %}
        {% if loop.index > 2 %} > {% endif %}
        {% if not loop.last %}<a href="{{ item.uri }}">{{ item.label }}</a>
        {% else %}<span>{{ item.label }}</span>{% endif %}
    {% endif %}
{% endfor %}
					{#{% set currentItem = knp_menu_get('BaquarasTestBundle:Builder:BreadCrumb').getBreadcrumbsArray() %}
					{% for item in currentItem %}
						{% if loop.index != 1 %}
							{% if loop.index > 2 %} &gt; {% endif %}
							{% if not loop.last %}<a href="{{ item.uri }}">{{ item.label }}</a>
							{% else %}<span>{{ item.label }}</span>{% endif %}
						{% endif %}
					{% endfor %}#}
					
					{% endspaceless %}
					{% endblock %}
				</div>
			</div>
						
			<div id="menu-principal"> {# Menu principal #}
				{{ knp_menu_render('BaquarasTestBundle:Builder:mainMenu') }}	
			</div>
		
			</div>
		</div>
	</div>	