<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

	<head>
		<title> Modification d'un autre pré-requis </title>
		{% include 'BaquarasTestBundle:Default:css.html.twig' %}
	</head>
    
	<body>
		
		{% include 'BaquarasTestBundle:Default:menu.html.twig' %} 
		{% include 'BaquarasTestBundle:Default:jquery2.html.twig' %} 
			
		<div id="page">
		
			<h1> Modification d'un autre pré-requis </h1>
		
			<form  action="{{ path('modifierAutrePreRequis', {'autrePreRequisId': autrePreRequis.id }) }}" method="post" {{ form_enctype(form) }} class="ajouterprerequis" novalidate="novalidate">
		
			{{ form_start(form) }}
			
			<table>
				
				<tr> 
					<td id="errors"> {{ form_errors(form) }} </td>
				</tr>
				<tr>
					<td id="label"> {{ form_label(form.libelle) }} </td>
					<td  id="text"> {{ form_widget(form.libelle) }} </td> </tr> <tr>
					<td id="errors"> {{ form_errors(form.libelle) }} </td>
				</tr>
				<tr>
					<td id="label"> {{ form_label(form.commentaire) }} </td>
					<td id="text"> {{ form_widget(form.commentaire) }} </td> </tr> <tr>
					<td id="errors"> {{ form_errors(form.commentaire) }} </td>
				</tr>
				<tr>
					<td id="label"> {{ form_label(form.oscible) }} </td>
					<td id="text"> {{ form_widget(form.oscible) }} </td> </tr> <tr>
					<td id="errors"> {{ form_errors(form.oscible) }} </td>
				</tr>					
				<tr> </tr>
					
				{#<tr> <td> {{ form_rest(form) }} </td> </tr>#}
			
				</table>
			
				{{ form_widget(form.save) }}
			
			{{ form_end(form) }}

			</form>
		
		</div>
		
    </body>
</html>