<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
			
	<head>
		<title> Ajout/Suppression d'utilisateurs </title>
		{% include 'BaquarasTestBundle:Default:css.html.twig' %} 
		{% include 'BaquarasTestBundle:Default:onglets.html.twig' %}
                {% include 'BaquarasTestBundle:Default:menu.html.twig' %}
                
                <link rel="stylesheet" href="{{ asset('bundles/baquarastest/js/theme/smoothness/jquery-ui.css') }}" type="text/css"/>
                <script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/baquarastest/js/jquery-ui.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
		<style>
			#zoneBouton {
				 margin-top : -100px; 
				 margin-left : 190px;
				 position : relative;
			}
			#zoneForm {
				position : relative;
				margin-top : 30px; 
			}
			#form_leftValues {
				margin-left : 15px; 
				width:210px;
				height:250px;
			}
			#form_rightValues {
				margin-left : 15px; 
				width:150px;
				height:150px;
			}
			#form_enregistrer {
				position : relative;
				margin-top : 50px;
                                margin-left: 220px;
			}
		</style>
	</head>

    <body>
                <div id="page">	
                    
                        <div class="rechercheHarpe">
		
                                <h1> Ajout/Suppression d'utilisateurs </h1>

                                <form  action="{{ path('rechercherHarpe', {'champ' : 1,'applicationId' : application.id, 'action' : action}) }}" method="post" {{ form_enctype(form) }} class="rechercherHarpe" novalidate="novalidate">

                                        <div class="container">

                                                <table id="tab1">
                                                        <tr> 
                                                                <td id="errors"> {#{ form_errors(form) }#} </td>
                                                        </tr>
                                                        <tr>
                                                                <td id="label"> Nom de l'agent </td>
                                                                <td  id="text"> {#{ form_widget(form.utilisateur.nom, {
                                                                                        'label': 'Recherche', 
                                                                                        'attr' : {
                                                                                                'id' : 'autocomplete',
                                                                                                'class' : 'ui-autocomplete-input',


                                                                                        }} ) 
                                                                                }#}
                                                                    <input id="baquaras_testbundle_application_nom" type="text" name="baquaras_testbundle_application_nom" class="ui-autocomplete-input" style="width:;"> 
                                                                    {#% for user in form['utilisateur'] %}
                                                                        {% if user.nom is defined  %}
                                                                            {{ form_widget(user.nom, { 'attr': { 'id' : 'autocomplete', 'class' : 'ui-autocomplete-input',}}) }}
                                                                        {% endif %}
                                                                    {% endfor %#}
                                                                </td> 

                                                        </tr> 
                                                </table>

                                                <table id="zoneForm">
                                                        <tr>
                                                                <td>                   
                                                                        <select id="form_leftValues" name="leftValues[]" multiple>
                                                                                {#% if agents is defined %}
                                                                                        {% for agent in agents %}
                                                                                                <option> {{ agent.prenom }} {{ agent.nom }} </option>
                                                                                        {% endfor %}
                                                                                {% endif %#}                           
                                                                        </select>
                                                                </td>
                                                                <td>
                                                                        <button id="btnLeft" type="button" name=">>"> >> </button> <br/>
                                                                        <button id="btnRight" type="button" name="<<"> << </button> 
                                                                </td>
                                                                <td>
                                                                        <select id="form_rightValues" name="rightValues[]" multiple>
                                                                            {% for userOfAppli in usersOfAppli %}
                                                                                {% if userOfAppli is defined %}
                                                                                    {% if userOfAppli is defined %}
                                                                                        {% for role in userOfAppli.role %}
                                                                                            {% if role is defined %}
                                                                                                {% if action == "assistance" %}
                                                                                                    {% if role == "Assistance" %}
                                                                                                        {% if userOfAppli.nom is defined and userOfAppli.prenom is defined  %}
                                                                                                            <option value="{{userOfAppli.nom}} {{userOfAppli.prenom}}">{{userOfAppli.nom}} {{userOfAppli.prenom}}</option>
                                                                                                        {% endif %}
                                                                                                    {% endif %}
                                                                                                {% endif %}
                                                                                                {% if action == "ayantDroit" %}
                                                                                                    {% if role == "AyantDroit" %}
                                                                                                        {% if userOfAppli.nom is defined and userOfAppli.prenom is defined  %}
                                                                                                            <option value="~userOfAppli.nom~">{{userOfAppli.nom}} {{userOfAppli.prenom}}</option>
                                                                                                        {% endif %}
                                                                                                    {% endif %}
                                                                                                {% endif %}
                                                                                                {% if action == "personnes" %}
                                                                                                    {% if role == "HabiliteInstaller" %}
                                                                                                        {% if userOfAppli.nom is defined and userOfAppli.prenom is defined  %}
                                                                                                            <option value="~userOfAppli.nom~">{{userOfAppli.nom}} {{userOfAppli.prenom}}</option>
                                                                                                        {% endif %}
                                                                                                    {% endif %}
                                                                                                {% endif %}
                                                                                                {% if action == "moe" %}
                                                                                                    {% if userOfAppli.profil1 == "Chef de produit" %}
                                                                                                        {% if userOfAppli.nom is defined and userOfAppli.prenom is defined  %}
                                                                                                            <option value="~userOfAppli.nom~">{{userOfAppli.nom}} {{userOfAppli.prenom}}</option>
                                                                                                        {% endif %}
                                                                                                    {% endif %}
                                                                                                {% endif %}
                                                                                                {% if action == "moa" %}
                                                                                                    {% if role == "MOA" %}
                                                                                                        {% if userOfAppli.nom is defined and userOfAppli.prenom is defined  %}
                                                                                                            <option value="~userOfAppli.nom~">{{userOfAppli.nom}} {{userOfAppli.prenom}}</option>
                                                                                                        {% endif %}
                                                                                                    {% endif %}
                                                                                                {% endif %}
                                                                                            {% endif %}
                                                                                        {#% for agent in rightValues %}
                                                                                                <option> {{ agent }} </option>
                                                                                        {% endfor %#}
                                                                                         {% endfor %}
                                                                                    {% endif %}
                                                                                        {#% for agent in rightValues %}
                                                                                                <option> {{ agent }} </option>
                                                                                        {% endfor %#}
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </select>
                                                                </td>
                                                        </tr>
                                                        <tr>
                                                                <td colspan="6">
                                                                        <button type="submit" id="form_enregistrer" name="enregistrer" value="enregistrer"> Enregistrer </button>
                                                                </td>
                                                        </tr>
                                                </table>

                                                {#{ form_rest(form) }#}
                                                

                                        </div>

                                </form>


                        {% block javascripts %}

                                <script>
                                        $("#btnLeft").click(function () {
                                                //document.getElementById("form_recherche").disabled = false;
                                                //document.getElementById("form_save").disabled = true;
                                                var selectedItem = $("#form_leftValues option:selected");
                                                $("#form_rightValues").append(selectedItem);
                                        });

                                        $("#btnRight").click(function () {
                                                //document.getElementById("form_recherche").disabled = true;
                                                //document.getElementById("form_save").disabled = true;
                                                var selectedItem = $("#form_rightValues option:selected");
                                                $("#form_leftValues").append(selectedItem);
                                        });

                                        $('#baquaras_testbundle_application_nom').attr('placeholder', 'recherchez par nom ou prénom');

                                        $("#baquaras_testbundle_application_nom").autocomplete({
                                            source: function( request, response ) {
                                            var element = $('#baquaras_testbundle_application_nom').val();
                                            $.ajax({
                                                url: Routing.generate('ajoutUtilisateur', {term : element }),
                                                dataType: "JSON",
                                                success: function( data ) {
                                                    $("#form_leftValues").empty();
                                                    $.each(data, function(index, value) {
                                                        $("#form_leftValues").append('<option value="'+ value +'">'+ value +'</option>');
                                                    });
                                                }
                                            });
                                        }
                                        });
                                </script>
                        {% endblock %}
			
                        </div>
                    
                </div>	
					
    </body>
</html>