<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>

    <head>
        <title> Ajouter un groupe d'utilisateurs </title>
        {% include 'BaquarasTestBundle:Default:css.html.twig' %} 
        {% include 'BaquarasTestBundle:Default:onglets.html.twig' %}
        <link rel="stylesheet" href="{{ asset('bundles/baquarastest/js/theme/smoothness/jquery-ui.css') }}" type="text/css"/>
        <script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('bundles/baquarastest/js/jquery-ui.js') }}"></script>
    </head>

    <body>

        {% include 'BaquarasTestBundle:Default:jquery2.html.twig' %} 

        <div id="rechercheGroupeAD">			

            <form action="{{ path('rechercherGroupeAD', {'applicationId' : application.id}) }}" method="post" {{ form_enctype(form) }} novalidate="novalidate" class="rechercher">		
                {{ form_errors(form) }}

                <table id="recherche">
                    <tr>
                        <td id="explic" colspan="2"> {{ form_label(form.champRecherche) }} </td>
                    </tr>
                    <tr>
                        <td id="text"> {{ form_widget(form.champRecherche, {
                                                                                'label': 'Recherche', 
                                                                                'attr' : {
                                                                                        'id' : 'autocomplete',
                                                                                        'class' : 'ui-autocomplete-input',
                                                                                         

                            }} ) 
                            }} 
                        </td>
                        <td> <button type="submit" name="submitAction"  value="rechercher"  class="btn btn-primary">Rechercher</button> 
                            {#{{ form_widget(form.save) }}#} </td>
                    </tr>
                    <tr> 
                        <td>  </td>
                        <td id="errors"> {{ form_errors(form.champRecherche) }} </td>
                    </tr>						
                </table>

                <table id="zoneForm">
                    <tr>
                        <td id="selectG"> 
                            <select ie-select-fix id="form_leftValues" multiple>
                                {% if groupes is not empty %}
                                    {% for groupe in groupes %}
                                        <option size="1"> {{groupe }} </option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </td>
                        <td>
                            <button id="btnLeft" type="button" name=">>"> >> </button> <br/>
                            <button id="btnRight" type="button" name="<<"> << </button> 
                        </td>
                        <td id="selectD">
                            <select name="rightValues" id="form_rightValues" multiple>
                            </select>
                        </td>								
                    </tr>	
                    <tr>
                        <td colspan="3">
                            <a href = "#" id="formregister">Enregistrer</a> 

                        </td>
                    </tr>
                </table>

                {{ form_rest(form) }}

                {{ form_end(form) }}

            </form>



            {% block jquery23 %}
                <script type="text/javascript" src="{{ asset('bundles/bmatznerjquery/js/jquery.min.js') }}"></script>
                <script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
                <script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
                <script>
                    $("#btnLeft").click(function () {
                        var selectedItem = $("#form_leftValues option:selected");
                        $("#form_rightValues").append(selectedItem);
                    });

                    $("#btnRight").click(function () {
                        var selectedItem = $("#form_rightValues option:selected");
                        $("#form_leftValues").append(selectedItem);
                    });
                    
                    $("#formregister").on("click", function (event) {
                        var rightValues = $("#form_rightValues").val();
                        var id = {{application.id}};
                        $.ajax({
                            type: "POST",
                            url: Routing.generate('ajouterGroupeAD', {applicationId : id }),
                            dataType: "html",
                            data: {group: rightValues}, 
                            success: function (response) {
                                window.close();
                            }
                        });
                    });
                  //  document.getElementById("form_save").disabled = false;
                </script>
            {% endblock %}

        </div>

    </body>

</html>